.navbar {
    background-color: #282c34;
    padding: 0.1rem 2rem;
    border-bottom: 1px solid gray;
    color: yellow;
    text-align: center;
  }

.icon{
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}